.com{
    background-color: #e0e0e0;
}
header{
    background-color: rosybrown;
}
#f1{
    height: 20px;
    width: 22px;
}
#i1{
    height: 20px;
    width: 22px;
}
#t1{
    height: 20px;
    width: 22px;
}
footer{
    background-color: rosybrown;
    top: 100%;
    
}