#lobo{
    height: 60px;
    width: 60px;
}
#f1{
    height: 20px;
    width: 22px;
}
#i1{
    height: 20px;
    width: 22px;
}
#t1{
    height: 20px;
    width: 22px;
}
#scro{
    min-height: 100%;
    min-width: 100%;
}
#hotel1{
    height: 500px;
    width: 500px;
}