
.block_img{
    min-height: 50%;
    width: 100%;
    display: flex;
    padding-top: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
    align-items: center;
    

}
.mid{
    height: 380px;
    min-width: 100%;
    background-image:  url(https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg) ;
    background-size: 100% 130%;
    background-repeat: no-repeat;
    align-content: center;
    
}
#pict{
    height: 150px;
    width: 150px;
    border-radius: 25%;
    margin-left: 110px;
    box-shadow: 10px 10px 10px 10px grey;
    position: relative;
    
}

#pict:hover{
    background-color: darkslategray;
}

#search{
    margin-left: 40%;
    margin-top: 15%;
    background-color:#f1f1f1 solid transparent;
    width: 25%;
    border-color: white;
    border-radius: 12px;
    padding: 10px;
    font-size: 16px;
    height: 30px;
    border: 1px;

}
#vie{

    margin-left: 45%;
    margin-bottom: 50px;
    color: black;
    font: bold;
    text-decoration: none;
    vertical-align: middle;
}

body{
    max-height: 50%;
    min-width: 100%;

}
/*#st{
    display: flex;
    justify-content: center;
}*/