
#hotel1{
    height: 200px;
    width: 250px;
}
/*.dis{
    display: inline-block;
}*/
.div0{
    height: auto;
    width: 40%;
    background-color: rgb(132, 136,139);
    float: left;
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 25px;
    text-decoration-skip: underline;
    font:bold;

}

#hotel2{
    height: 200px;
    width: 250px;
}
#hotel3{
    margin-left: 30px;
    height: 200px;
    width: 250px;
}
#lobo{
    height: 60px;
    width: 60px;
}
#map{
    margin-left: 2%;
    color: black;
    font: bold;
}
#list{
    margin-left: 35%;
    color: black;
    font: bold;
}
footer{
    background-color: rosybrown;
    position: sticky;
    bottom: 0;
    
}