
#hotel1{
    height: 200px;
    width: 250px;
}
.sec{
    display: flex;

}
.div0{
    height: auto;
    width: 40%;
    background-color: rgb(193, 196, 199);
    float: left;
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 25px;
    text-decoration: none;
    font:bold;
    display: flex;

}
.div0:hover{
    background-color: rosybrown;

}

#text{
    margin-left: 5%;
    
}
h3{
    text-decoration: none;
    color: black;
}
#id1{
    text-decoration: none;

}
#map{
    margin-left: 2%;
    text-emphasis-color: black;
    font: bold;
    text-decoration: none;
}
#map:hover{
    background-color: aqua;
}
#list{
    margin-left: 35%;
    color: black;
    font: bold;
    text-decoration: none;
}
#list:hover{
    background-color: aqua;
}
#center{
    color: black;
}